<form class="forms" [formGroup]="formGroup">
    <p-toast></p-toast>
    <div class="card flex flex-wrap justify-content-center gap-3">
        <span class="p-input-icon-right p-float-label">
            <i class="pi pi-user"></i>
            <input id="nome" type="text" pInputText formControlName="nome" [ngClass]="{'invalid-field': formGroup.controls['nome'].invalid && formGroup.controls['nome'].touched}"/>
            <label htmlFor="nome">Nome</label>
        </span>
        <div *ngIf="formGroup.controls['nome'].invalid && formGroup.controls['nome'].touched" class="validation-message">
            É necessário preencher o nome.
        </div>
    </div>

    <div class="card flex flex-wrap justify-content-center gap-3">
        <span class="p-input-icon-right p-float-label">
            <i class="pi pi-envelope"></i>
            <input id="email" type="text" pInputText formControlName="email" [ngClass]="{'invalid-field': formGroup.controls['email'].invalid && formGroup.controls['email'].touched}"/>
            <label htmlFor="email">E-mail</label>
        </span>
        <div *ngIf="formGroup.get('email')?.hasError('required') && formGroup.get('email')?.touched" class="validation-message">
            É necessário preencher o e-mail.
        </div>
        <div *ngIf="formGroup.get('email')?.hasError('email') && formGroup.get('email')?.touched && formGroup.get('email')?.value" class="validation-message">
            Deve ser um e-mail válido.
        </div>
    </div>

    <div class="card flex flex-wrap justify-content-center gap-3">
        <span class="p-input-icon-right p-float-label">
            <i class="pi pi-lock"></i>
            <input id="senha" type="password" pInputText formControlName="senha" placeholder="Senha"/>
            <label htmlFor="senha">Senha</label>
        </span>
    </div>

    <div class="card flex justify-content-center m-0">
        <span class="p-float-label">
            <p-dropdown  formControlName="cargo" [options]="roles" optionLabel="label"  optionValue="value" placeholder="Selecione um cargo"  [ngClass]="{'invalid-field': formGroup.controls['cargo'].invalid && formGroup.controls['cargo'].touched}"></p-dropdown>
            <label for="float-label">Cargo</label>
        </span>
        <div *ngIf="formGroup.controls['cargo'].invalid && formGroup.controls['cargo'].touched && !formGroup.controls['cargo'].value" class="validation-message">
            É necessário selecionar uma cargo.
        </div>
    </div>

    <div class="card flex justify-content-center m-0">
        <span class="p-float-label">
            <p-dropdown formControlName="categoria" [options]="categories" optionLabel="nome" optionValue="id"  placeholder="Selecione uma Categoria"  [ngClass]="{'invalid-field': formGroup.controls['categoria'].invalid && formGroup.controls['categoria'].touched}"></p-dropdown>
            <label for="float-label">Categoria</label>
        </span>
        <div *ngIf="formGroup.controls['categoria'].invalid && formGroup.controls['categoria'].touched && !formGroup.controls['categoria'].value" class="validation-message">
            É necessário selecionar uma categoria.
        </div>
    </div>

    <div class="card flex justify-content-center m-0">
        <span class="p-float-label">
            <p-dropdown formControlName="terceirizado" [options]="outsourced" placeholder="Selecione caso seja terceiro."  [ngClass]="{'invalid-field': formGroup.controls['terceirizado'].invalid && formGroup.controls['terceirizado'].touched}"></p-dropdown>
            <label for="float-label">Terceiro</label>
        </span>
        <div *ngIf="formGroup.controls['terceirizado'].invalid && formGroup.controls['terceirizado'].touched && !formGroup.controls['terceirizado'].value" class="validation-message">
            É necessário selecionar uma categoria.
        </div>
    </div>
    <ng-container *ngIf="showEmpresaInput">
        <div class="card flex flex-wrap justify-content-center gap-3">
            <span class="p-input-icon-right p-float-label">
                <i class="pi pi-briefcase"></i>
                <input  id="empresa" type="text" pInputText formControlName="empresa" [ngClass]="{'invalid-field': formGroup.controls['empresa'].invalid && formGroup.controls['empresa'].touched}"/>
                <label htmlFor="empresa">Empresa</label>
            </span>
            <div *ngIf="formGroup.controls['empresa'].invalid && formGroup.controls['empresa'].touched" class="validation-message">
                É necessário preencher a empresa.
            </div>
        </div>
    </ng-container>

    <div class="card flex justify-content-center btn-submit">
        <button  class="btn btn-confirm" (click)="submitForm()">Confirmar</button>
        <button  class="btn btn-decline" (click)="deleteUserById(userInfo.nome)">Deletar</button>
    </div>
</form>

<p-confirmDialog #cd [style]="{ width: '450px' }">
    <ng-template pTemplate="footer">
        <button pButton type="button" icon="pi pi-times" label="Não" styleClass="p-button-danger" (click)="cd.reject()"></button>
        <button pButton type="button" icon="pi pi-check" label="Sim" styleClass="p-button-success" (click)="cd.accept()"></button>
    </ng-template>
</p-confirmDialog>
