<p-table dataKey="id" [rows]="1" [value]="[selectedUser]">
    <ng-template pTemplate="header">
        <tr>
            <th style="min-width:15rem">
                <div class="flex align-items-center">Nome</div>
            </th>
            <th style="min-width:15rem">
                <div class="flex align-items-center">E-mail</div>
            </th>
            <th style="min-width:15rem">
                <div class="flex align-items-center">Categoria</div>
            </th>
            <th style="min-width:10rem">
                <div class="flex align-items-center">Terceiro</div>   
            </th>
            <th style="min-width:10rem">
                <div class="flex align-items-center">Empresa</div>
            </th>
            <th style="min-width:10rem">
                <div class="flex align-items-center">Data</div>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body">
      <tr>
          <td> {{ selectedUser?.nome }} </td>
          <td> {{ selectedUser?.email }} </td>
          <td> {{ selectedUser?.cargo }} </td>
          <td> {{ selectedUser?.terceirizado }} </td>
          <td> {{ selectedUser?.empresa }} </td>
          <td> {{ selectedUser?.senha }} </td>
      </tr>
    </ng-template>
  </p-table>
  