<div class="container">
    <div class="modal">
        <h3>Ordem de Serviço</h3>
        <i  id="close" class='bx bx-x-circle'></i>
        <div class="itens">
            <div class="column">
                <div class="item">
                    <div class="item-title">
                        <i class='bx bx-user'></i>
                        <label>Instituição</label>
                    </div>
                    <p>Fatec</p>
                </div>

                <div class="item">
                    <div class="item-title">
                        <i class='bx bx-envelope'></i>
                        <label>Categoria</label>
                    </div>
                    <p>Elétrica</p>
                </div>
            </div>

            <div class="column">
                <div class="item">
                    <div class="item-title">
                        <i class='bx bx-map'></i>
                        <label>Setor</label>
                    </div>
                    <p>C-01 Synapse</p>
                </div>

                <div class="item">
                    <div class="item-title">
                        <i class='bx bx-calendar-week'></i>
                        <label>Data</label>
                    </div>
                    <p>27/07/2023</p>
                </div>
            </div>
        </div>

        <div class="fields">
            <div class="field">
                <div class="item-title">
                    <i class='bx bx-file'></i>
                    <label>Descrição</label>
                </div>
                <p>Ar-condicionado está fazendo barulho e não está gelando....</p>
            </div>

            <div class="field">
                <div class="item-title">
                    <i class='bx bx-cart'></i>
                    <label>Relatório</label>
                </div>
                <textarea name="relatory" id="relatory">Foi necessário fazer uma limpeza no ar e trocar o filtro</textarea>
            </div>

            <div class="field">
                <div class="item-title">
                    <i class='bx bx-clipboard' ></i>
                    <label>Materiais</label>
                </div>
                <textarea name="relatory" id="relatory">Filtro Novo</textarea>
            </div>

        </div>

        <div class="submit">
            <button class="btn-submit">
                Finalizar
            </button>
        </div>
    </div>
</div>

