<div class="card">
    <div class="itens">
        <div class="item institute">
            <i class='bx bx-briefcase-alt'></i>
            <p>{{ os.institute }}</p>
        </div>
        <div class="item sector">
            <i class='bx bx-map'></i>
            <p>{{ os.sector }}</p>
        </div>
        <div class="item date">
            <i class='bx bx-calendar-week'></i>
            <p>{{ os.date }}</p>
        </div>
        <div class="item category">
            <i class='bx bx-wrench'></i>
            <p>{{ os.category }}</p>
        </div>
    </div>
    <div class="id">
        <!-- <p>ID: {{os.id | number: '1.0-0'}}</p> -->
        <p>ID: {{ os.id.toString().padStart(4, '0') }}</p>
        <span></span>
    </div>

    <div class="details">
        <p (click)="openDialog()">Detalhes</p>
    </div>
</div>