<div class="card">
    <div class="itens">
        <div class="item institute">
            <img src="../../../assets/Institute.svg">
            <p>Fatec</p>
        </div>
        <div class="item sector">
            <img src="../../../assets/map-pin.svg">
            <p>C-01 Synapse</p>
        </div>
        <div class="item date">
            <img src="../../../assets/clipboard_green.svg">
            <p>11/05/2023</p>
        </div>
        <div class="item area">
            <img src="../../../assets/tool.svg">
            <p>Civil</p>
        </div>
    </div>
    <div class="id">
        <p>ID: 0001</p>
        <span></span>
    </div>

    <div class="details">
        <p>Detalhes</p>
    </div>
</div>