<div class="card" *ngIf="card">
    <div class="itens">
        <div class="item status">
            <i class='bx bx-alarm'></i>
            <p>{{ card.nivel_prioridade }}</p>
        </div>
        <div class="item priority">
            <i class='bx bx-purchase-tag-alt'></i>
            <p>{{ card.status_os }}</p>
        </div>
        <div class="item institute">
            <i class='bx bx-briefcase-alt'></i>
            <p>{{ card.setor_principal_nome }}</p>
        </div>
        <div class="item sector">
            <i class='bx bx-map'></i>
            <p>{{ card.setor_secundario_com_bloco }}</p>
        </div>
        <div class="item category">
            <i class='bx bx-wrench'></i>
            <p>{{ card.tipo_servico_nome }}</p>
        </div>
    </div>
    <div class="id">
        <p>ID: {{ card.id.toString().padStart(4, '0') }}</p>
    </div>

    <div class="details">
        <p (click)="openModal()">Detalhes</p>
    </div>
</div>


<p-dialog header="Header" [(visible)]="displayModalSolicitada" [breakpoints]="{ '960px': '65vw' }" [style]="{ width: '30vw'}"  [draggable]="false" [resizable]="false">
    <ng-template pTemplate="header">
        <span class="header">Ordem de Serviço: {{ card?.id }}</span>
    </ng-template>
    <app-modal-aprovar-os *ngIf="card?.status_os == 'Solicitada'" [orderService]="card" [displayModal]="displayModalSolicitada" (displayModalEvent)="attModalSolicitada($event)"></app-modal-aprovar-os>
    <app-modal-finalizar-os *ngIf="card?.status_os == 'Concluida' " [orderService]="card"></app-modal-finalizar-os>
</p-dialog>

<p-dialog header="Header" [(visible)]="displayModalDecline" [breakpoints]="{ '960px': '65vw' }" [style]="{ width: '30vw'} "  [draggable]="false" [resizable]="false">
    <ng-template pTemplate="header">
        <span class="header decline">Deseja declinar esta ordem de serviço?</span>
    </ng-template>
    <app-modal-declinar-os [orderService]="card" (displayModalEvent)="attMoldalDecline($event)"></app-modal-declinar-os>
</p-dialog>
