<div class="menu">
    <div class="logo">
        <img src="../../../assets/IconeFundacao.png">
        <span class="logo-name">OSManager</span>
    </div>
   
    <ul class="nav-links">
        <li>
            <a href="#">
                <i class='bx bx-home-alt'></i>
                <span class="link-name">Home</span> 
                <i class='bx bx-right-arrow-alt'></i>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="../../../assets/Users.svg">
                <span class="link-name">Usuários</span> 
                <i class='bx bx-right-arrow-alt'></i>
            </a>
        </li>
        <li class="logout">
            <a href="#">
                <i class='bx bx-log-out'></i>
                <span class="link-name">Sair</span> 
                <i class='bx bx-right-arrow-alt'></i>
            </a>
        </li>
    </ul>
</div>

