<div class="menu">

    <div class="logo">
        <img src="../../../assets/IconeFundacao.png">
        <span class="logo-name">OSManager</span>
    </div>
    
    <div class="buttons">
        <a class="btn" href="#">
            <i class='bx bx-home-alt'></i>
            <span class="link-name">Home</span> 
            <i class='bx bx-right-arrow-alt'></i>
        </a>
        
        <ng-container *ngIf="isOnRouteAdm">
            <a class="btn" href="#">
                <i class='bx bx-user'></i>
                <span class="link-name">Usuários</span> 
                <i class='bx bx-right-arrow-alt'></i>
            </a>
        </ng-container>
        
    </div>
        
    <div class="profile">
        <a class="btn" href="#">
            <i class='bx bx-user-circle'></i>
            <span class="link-name">Perfil</span> 
            <i class='bx bx-right-arrow-alt'></i>
        </a>
    </div>
</div>

