<div class="menu">
    <div class="logo">
        <img src="../../../assets/IconeFundacao.png">
        <span class="logo-name">OSManager</span>
    </div>
    
    <div class="buttons">
        <a class="btn" href="#">
            <i class='bx bx-home-alt'></i>
            <span class="link-name">Home</span> 
            <i class='bx bx-right-arrow-alt'></i>
        </a>
        <ng-container *ngIf="isOnRouteAdm">
            <a class="btn" (click)="navigateToListAdm()"> 
                <i class='bx bx-user'></i>
                <span class="link-name">Usuários</span> 
                <i class='bx bx-right-arrow-alt'></i>
            </a>
        </ng-container> 
    </div>
        
    <div class="profile" (click)="showDialog()">
        <a class="btn">
            <i class='bx bx-user-circle'></i>
            <span class="link-name">Perfil</span> 
            <i class='bx bx-right-arrow-alt'></i>
        </a>
    </div>
</div>

<p-dialog header="Meus Dados" [(visible)]="visible" [breakpoints]="{ '960px': '75vw' }" [style]="{ width: '30vw' }" [draggable]="false" [resizable]="false">
    <ng-template pTemplate="header">
        <span class="header">Meus Dados</span>
    </ng-template>
    <div class="infos">

        <div class="item">
            <div class="item-title">
                <i class='bx bx-user'></i>
                <label>Nome</label>
            </div>
            <div class="item-info">
                <p>{{ username }}</p>
            </div>
        </div>

        <div class="item">
            <div class="item-title">
                <i class='bx bx-envelope'></i>
                <label>E-mail</label>
            </div>
            <div class="item-info">
                <p>{{ usermail }}</p>
            </div>
        </div>
    </div>
    <span class="line"></span>
    <div class="password-box">
        <div class="card flex justify-content-center p-float-label">
            <p-password [(ngModel)]="value" [toggleMask]="true"></p-password>
            <label for="password">Senha Antiga</label>
        </div>
        <div class="card flex justify-content-center p-float-label">
            <p-password [(ngModel)]="value" [toggleMask]="true"></p-password>
            <label for="password">Senha Nova</label>
        </div>
        <p-toast></p-toast>
        <p-button label="Confirmar" styleClass="p-button-success btn"></p-button>
    </div>
    <span class="line"></span>
    <p-button label="Logout" styleClass="p-button-danger btn" (click)="logout()"></p-button>
</p-dialog>


