.galery-header {
  background-color: rgba(236, 236, 230, 0.933);
  padding: 1rem 0 1rem 1rem;
  font-weight: 600;

  p {
    color: #333;
  }
}

:host ::ng-deep {
  .custom-galleria {
      &.p-galleria {
          &.fullscreen {
              display: flex;
              flex-direction: column;

              .p-galleria-content {
                  flex-grow: 1;
                  justify-content: center;
              }
          }

          .p-galleria-content {
              position: relative;
              border: 3px solid rgba(236, 236, 230, 0.933);;
          }

          .p-galleria-thumbnail-wrapper {
              position: absolute;
              bottom: 0;
              left: 0;
              width: 100%;
          }

          .p-galleria-thumbnail-items-container {
              width: 100%;
          }

          .custom-galleria-footer {
              display: flex;
              align-items: center;
              background-color: rgba(236, 236, 230, 0.933);
              color: #333;
              font-weight: 600;

              > button {
                  background-color: transparent;
                  color: #ffffff;
                  border: 0 none;
                  border-radius: 0;
                  margin: .2rem 0;

                  &.fullscreen-button {
                      margin-left: auto;
                  }

                  &:hover {
                      background-color: rgba(255, 255, 255, 0.1);
                  }
              }
          }

          .title-container {
              > span {
                  font-size: .9rem;
                  padding-left: .829rem;

                  &.title {
                      font-weight: bold;
                  }
              }
          }
      }
  }
}

:host ::ng-deep .p-galleria {
  max-width: 100% !important;
}

:host ::ng-deep p-galleriaitemslot.p-galleria-item {
  height: 238px;
  width: 100% !important;
}
:host ::ng-deep .p-galleria-item img {
  max-height: 100%;
  object-fit: cover;
  background-position: center;
}

:host ::ng-deep .p-galleria-thumbnail-item-content img {
  height: 200px !important;
}

:host ::ng-deep .custom-galleria.p-galleria .custom-galleria-footer > button {
  color: #333;
}

@media screen and (min-height: 1000px) {
  :host ::ng-deep p-galleriaitemslot.p-galleria-item  {
    height: 100%;
  }

  ::host ::ng-deep .p-galleria-thumbnail-items {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
