<div class="container">
    <div class="menu">
        <app-menu></app-menu>
    </div>
    <div class="box-content">
        <div class="buttons">
            <div class="new-user">
                <button  class="btn btn-confirm" (click)="navigateToForm()">
                    Nova OS
                    <i class='bx bx-cog'></i>
                </button>
            </div>
        </div>
        
        <div class="cards">
            <app-list-cards></app-list-cards>
        </div>
    </div>
</div>