<div class="title-box" cdkFocusInitial>
    <h2 class="title" align="center" mat-dialog-title>Ordem de Serviço</h2>
    <i id="close" class='bx bx-x-circle' [mat-dialog-close]="true"></i>
</div>
<mat-dialog-content class="mat-typography">
    <div class="itens" >
        <div class="column">
            <div class="item">
                <div class="item-title">
                    <i class='bx bx-user'></i>
                    <label>Nome</label>
                </div>
                <p>José Felipe</p>
            </div>

            <div class="item">
                <div class="item-title">
                    <i class='bx bx-envelope'></i>
                    <label>E-mail</label>
                </div>
                <p>josefelipe@gmail.com</p>
            </div>

            <div class="item">
                <div class="item-title">
                    <i class='bx bx-briefcase-alt'></i>
                    <label>Instituição</label>
                </div>
                <p>Fatec</p>
            </div>
        </div>

        <div class="column">
            <div class="item">
                <div class="item-title">
                    <i class='bx bx-map'></i>
                    <label>Setor</label>
                </div>
                <p>C-01 Synapse</p>
            </div>

            <div class="item">
                <div class="item-title">
                    <i class='bx bx-wrench'></i>
                    <label>Categoria</label>
                </div>
                <p>Civil</p>
            </div>

            <div class="item">
                <div class="item-title">
                    <i class='bx bx-calendar-week'></i>
                    <label>Data</label>
                </div>
                <p>27/07/2023</p>
            </div>
        </div>
    </div>

    <div class="fields">
        <div class="field">
            <div class="item-title">
                <i class='bx bx-file'></i>
                <label>Descrição</label>
            </div>
            <p>Ar-condicionado está fazendo barulho e não está gelando....</p>
        </div>

        <div class="field">
            <div class="item-title">
                <i class='bx bx-user'></i>
                <label>Técnico Responsável</label>
            </div>
            <p>Jair de Oliveira</p>
        </div>

        <div class="field">
            <div class="item-title">
                <i class='bx bx-cart'></i>
                <label>Relatório</label>
            </div>
            <mat-form-field class="example-full-width" [autofocus]="false">
                <textarea [autofocus]="false" matInput placeholder="Relatório do serviço realizado" [autofocus]="false">Foi necessário fazer uma limpeza no ar e trocar o filtro</textarea>
            </mat-form-field>
        </div>

        <div class="field">
            <div class="item-title">
                <i class='bx bx-clipboard' ></i>
                <label>Materiais</label>
            </div>
            <mat-form-field class="example-full-width">
                <textarea [autofocus]="false" matInput placeholder="Material utilizado na OS">Filtro Novo</textarea>
            </mat-form-field>
        </div>

        <div class="feedback-area">
            <div class="feedback-box">
                <mat-form-field>
                    <mat-label>Feedback</mat-label>
                    <mat-select [autofocus]="false" [formControl]="toppings">
                        <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

    </div>
    <mat-dialog-actions align="center">
        <button class="btn-submit" mat-button [mat-dialog-close]="true">Finalizar</button>
    </mat-dialog-actions>
</mat-dialog-content>


























































<!-- <div class="container">
<div class="modal">
    <h3>Ordem de Serviço</h3>
    <div class="itens">
        <div class="item name">
            <div class="item-title">
                <i class='bx bx-user'></i>
                <p>Nome</p>
            </div>
            <p>José Felipe</p>
        </div>

        <div class="item email">
            <div class="item-title">
                <i class='bx bx-envelope'></i>
                <p>E-mail</p>
            </div>
            <p>josefelipe@gmail.com</p>
        </div>

        <div class="item institute">
            <div class="item-title">
                <i class='bx bx-briefcase-alt'></i>
                <p>Instituição</p>
            </div>
            <p>Fatec</p>
        </div>

        <div class="item sector">
            <div class="item-title">
                <i class='bx bx-map'></i>
                <p>Setor</p>
            </div>
            <p>C-01 Synapse</p>
        </div>

        <div class="item category">
            <div class="item-title">
                <i class='bx bx-wrench'></i>
                <p>Categoria</p>
            </div>
            <p>Civil</p>
        </div>

        <div class="item date">
            <div class="item-title">
                <i class='bx bx-calendar-week'></i>
                <p>Data</p>
            </div>
            <p>27/07/2023</p>
        </div>

        <div class="item description">
            <div class="item-title">
                <i class='bx bx-file'></i>
                <p>Descrição</p>
            </div>
            <p>Descrição teste</p>
        </div>
    </div>
</div>
</div> -->