<div class="modal">
    <h3>Ordem de Serviço</h3>
    <div class="itens">
        <div class="item name">
            <div class="item-title">
                <i class='bx bx-user'></i>
                <p>Nome</p>
            </div>
            <p>José Felipe</p>
        </div>

        <div class="item email">
            <div class="item-title">
                <i class='bx bx-envelope'></i>
                <p>E-mail</p>
            </div>
            <p>josefelipe@gmail.com</p>
        </div>

        <div class="item institute">
            <div class="item-title">
                <i class='bx bx-briefcase-alt'></i>
                <p>Instituição</p>
            </div>
            <p>Fatec</p>
        </div>

        <div class="item sector">
            <div class="item-title">
                <i class='bx bx-map'></i>
                <p>Setor</p>
            </div>
            <p>C-01 Synapse</p>
        </div>

        <div class="item category">
            <div class="item-title">
                <i class='bx bx-wrench'></i>
                <p>Categoria</p>
            </div>
            <p>Civil</p>
        </div>

        <div class="item date">
            <div class="item-title">
                <i class='bx bx-calendar-week'></i>
                <p>Data</p>
            </div>
            <p>27/07/2023</p>
        </div>

        <div class="item description">
            <div class="item-title">
                <i class='bx bx-file'></i>
                <p>Descrição</p>
            </div>
            <p>Descrição teste</p>
        </div>
    </div>
</div>
