
    <div class="card flex justify-content-center">
        <div class="itens" >
            <div class="column">
                <div class="item">
                    <div class="item-title">
                        <i class='bx bx-user'></i>
                        <label>Nome</label>
                    </div>
                    <p>{{ orderService?.solicitante_nome }}</p>
                </div>
                
                <div class="item">
                    <div class="item-title">
                        <i class='bx bx-briefcase-alt'></i>
                        <label>Instituição</label>
                    </div>
                    <p>{{ orderService?.setor_principal_nome }}</p>
                </div>

                <div class="item">
                    <div class="item-title">
                        <i class='bx bx-wrench'></i>
                        <label>Categoria</label>
                    </div>
                    <p>{{ orderService?.tipo_servico_nome }}</p>
                </div>
            </div>
    
            <div class="column">
                <div class="item">
                    <div class="item-title">
                        <i class='bx bx-envelope'></i>
                        <label>E-mail</label>
                    </div>
                    <p>{{ orderService?.solicitante_email }}</p>
                </div>
    
                <div class="item">
                    <div class="item-title">
                        <i class='bx bx-map'></i>
                        <label>Setor</label>
                    </div>
                    <p>{{ orderService?.setor_secundario_com_bloco}}</p>
                </div>
    
                <div class="item">
                    <div class="item-title">
                        <i class='bx bx-calendar-week'></i>
                        <label>Data</label>
                    </div>
                    <p>{{ orderService?.data_solicitacao | date:'dd/MM/yyyy' }}</p>
                </div>
            </div>
        </div>
    
        <div class="fields">
            <div class="field">
                <div class="item-title">
                    <i class='bx bx-file'></i>
                    <label>Descrição</label>
                </div>
                <p>{{ orderService?.descricao }}</p>
            </div>
        </div>
    </div>