<div class="menu">
    <app-menu></app-menu>
</div>

<div class="container">
    <div class="btns">
        <button class="btn btn-new" (click)="openDialog()">
            Novo
            <i class='bx bx-user-plus'></i>
        </button>

        <mat-form-field class="meu-form-field">
            <mat-label>Filtro</mat-label>
            <mat-select [autofocus]="false" [formControl]="toppings">
                <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="table-box">
        <div class="table-header">
            <p class="nameDescription">Nome</p>
            <p class="roleDescription">Cargo</p>
            <p class="outsourcedDescription">Terceiro</p>
            <p class="dateDescription">Data de Inserção</p>
        </div>
        
        <div class="talbe-users">
            <ng-container *ngFor="let user of usersInfo">
                <app-table-user [users]="user" ></app-table-user>
            </ng-container>
        </div>
    </div>
</div>