<div>
    <div class="form-nav">
      <a class="" aria-current="page" href="#"><img src="../../../assets/flechaEsquerda.png" class="arrow"> Voltar</a>
      <div class="contact">
        <a class="">comunicacao@fsnt.com.br </a>
        <a href="" class="bar">|</a>
        <a href="">(14) 3405-2033 </a>
      </div>
    </div>
    
    <div class="form-body">
        <div >
            <h2>Insira os dados para efetivar a solicitação</h2>
            <div class="personal-input">
                <div class="inp name">
                    <input type="text" class="" placeholder="Nome">
                    <i class='bx bx-user'></i> 
                </div>
                <div class="inp">
                    <input type="email" class="" placeholder="Email">
                    <i class='bx bx-envelope'></i>
                </div>
                <p>Essa informação será destinada a dar o retorno ao solicitante.</p>

            </div>
        </div>
            <div class="os-box">
                <p>Identifique a área da ordem de servico:</p>
                <div class="os-imput">
                 
                    <select>
                      <option value="">Instituição</option>
                      <option value="opcao1">Opção 1</option>
                      <option value="opcao2">Opção 2</option>
                      <option value="opcao3">Opção 3</option>
                    </select>

                    <select>
                      <option value="">Setor</option>
                      <option value="opcao1">Opção 1</option>
                      <option value="opcao2">Opção 2</option> 
                      <option value="opcao3">Opção 3</option>
                    </select>


                    <select>
                      <option value="">Categoria</option>
                      <option value="opcao1">Opção 1</option>
                      <option value="opcao2">Opção 2</option>
                      <option value="opcao3">Opção 3</option>
                    </select>

                    <div class="time">
                      <label for="datetime">Data e hora:</label>
                      <div class="datetime-container">
                        <input type="datetime-local" id="datetime" name="datetime">
                      </div>
                    </div>

                    <div class="input-description">
                      <div class="title-input">
                        <label>Descrição do Problema</label>
                        <i class='bx bx-text'></i>  
                      </div>
                      <textarea></textarea>
                    </div>
                    <p class="privacy-terms">Ao enviar, estará de acordo com os <a href="http://">termos de privacidade</a></p> 
                    <button>Enviar</button>
                  </div>

                  
                </div>
              </div>

              
</div>

