<section class="home-form">
  <header class="header-box">
    <button class="header-btn-voltar" (click)="backToDashboard()">
      <i class='bx bx-left-arrow-alt'></i>
      <span>Voltar</span>
    </button>
    <div class="header-infos">
      <p>comunicacao@fsnt.com.br&nbsp;&nbsp;|&nbsp;&nbsp;(14) 3405-2033</p>
    </div>
  </header>
  
  <section class="form-box">
    <div class="form-box-title">
      <h2 class="title">Insira os dados para <br> efetivar a solicitação</h2>
    </div>
    <form class="form-fields" [formGroup]="formGroup">
  
      <div class="select card flex justify-content-center m-0">
        <label for="float-label">Instituição</label>
        <p-dropdown id="formSetorPrincipal" formControlName="setor_principal_id" [options]="setor_principal" (onChange)="onChangeSetorPrincipal()"></p-dropdown>
      </div>
  
      <div class="columns">
        <div class="card flex justify-content-center m-0">
          <label for="float-label">Setor</label>
          <p-dropdown id="formSetorSecundario" formControlName="setor_secundario_id" [options]="setor_secundario"></p-dropdown>
        </div>
  
        <div class="card flex justify-content-center m-0">
          <label for="float-label">Categoria</label>
          <p-dropdown id="formCategoria" formControlName="tipo_servico_id" [options]="tipo_servico"></p-dropdown>
        </div>
      </div>
  
      <div class="description">
        <textarea id="formDescricao" formControlName="descricao" rows="5" cols="30" pInputTextarea [autoResize]="true" placeholder="Descreva sua ordem de serviço."></textarea>
      </div>
    </form>
    <div class="form-submit">
      <div class="box-submit">
        <button class="btn-submit" (click)="solicitarOs()">Finalizar</button>
      </div>
    </div>
  </section>
</section>