.container {
  width: 100%;
  height: 100vh;

  header {
    background-color: var(--color-2);
    height: 12vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;

    .back-btn {
      outline: none;
      border: none;
      width: 120px;
      height: 48px;
      border-radius: 8px;
      cursor: pointer;
      transition: 0.5s all ease-in-out;
      text-align: center;
      background-color: transparent;
      color: var(--color-10);
      display: flex;
      align-items: center;

      span {
        font-size: 1.2rem !important;
        font-weight: 500;
      }

      &:hover {
        background-color: var(--color-3);
        color: var(--color-10)
      }

      i {
        margin-right: 8px;
        font-size: 1.5rem;
      }
    }

    .header-infos p {
      color: var(--color-10);
      font-size: 1.4rem !important;
      font-weight: 600;
      text-align: center;
      text-wrap: wrap;
    }
  }

  .form-container {
    width: 100%;
    height: 88vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    h1 {
      font-size: 24px;
      letter-spacing: 1px;
      font-weight: 700;
      text-align: center;
      color: var(--color-7);
    }

    form {
      width: 70%;
      height: 70%;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .row  {
        width: 100%;
        display: flex;
        gap: 1rem;

        .field {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;

          ::ng-deep p-dropdown .p-dropdown {
            width: 100%;
          }

          button {
            width: 30%;
            height: 48px;
            border: none;
            outline: none;
            border-radius: 8px;
            align-self: center;
            color: var(--color-10);
            font-weight: 600;
            background-color: var(--color-4);
            transition: 0.5s all ease-in-out;
            margin-bottom: 1rem;

            &:hover {
              background-color: var(--color-2);
            }
          }
        }
      }
    }
  }
}

::ng-deep .p-fileupload .p-fileupload-buttonbar {
  display: flex !important;

  ::ng-deep p-button .p-element {
    max-width: none !important;
  }
}

::ng-deep .p-fileupload-content {
  overflow-y: auto !important;
  max-height: 200px;
}

::ng-deep plusicon {
  margin-right: 4px;
}

::ng-deep .btn-upload-file {
  background-color: var(--color-3);
  border: var(--color-2);
}

::ng-deep .p-fileupload-choose:active,
::ng-deep .p-fileupload-choose:not(.p-disabled):active,
::ng-deep .p-fileupload-choose,
::ng-deep .p-button:enabled:active,
::ng-deep .p-button:enabled:hover,
::ng-deep .p-button:enabled:active,
::ng-deep .p-button:enabled:hover
{
  background-color: var(--color-2);
  border: none;
}

::ng-deep .p-fileupload-choose:not(.p-disabled):hover {
  background-color: var(--color-4);
}

::ng-deep .p-fileupload .p-fileupload-buttonbar .p-button.p-fileupload-choose.p-focus {
  box-shadow: var(--color-4);
}

@media screen and (max-width: 450px) {
  .container header .back-btn {
    align-self: self-start;
    margin-left: 20px;
  }
}

@media screen and (max-width: 768px) {

  .container header {
    padding: 0;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .container header .back-btn span {
    font-size: 1rem !important;
  }

  .container header .header-infos p {
    font-size: 1rem !important;
  }

  h1 {
    max-width: 90%;
  }

  form {
    gap: 1rem;
    width: 90% !important;
    height: 80% !important;
  }

  ::ng-deep span {
    font-size: 10px;
  }

  ::ng-deep .btn-upload-file {
    width: 30% !important;
    text-align: center;
  }

  form .row .field button {
    width: 100% !important;
  }
}
