.container {
  width: 100%;
  height: 100vh;
  display: flex;

  .container-img {
    width: 50%;
    height: 100vh;

    .img-login {
      height: 100%;
      width: 100%;
      background-image: url(../../../assets/img-fsn-1.jpg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  .container-content {
    width: 50%;
    height: 100vh;

    .logo-container {
      width: 100%;
      height: 20%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h1 {
        font-size: 2rem;
        font-weight: 700;
        color: var(--color-1);
      }

      img {
        max-width: 65px;
        max-width: 65px;
      }
    }

    form {
      width: 100%;
      height: 60%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 2rem;

      .card {
        width: 60%;
        display: flex;
        flex-direction: column;

        span {
          width: 100%;

          input {
            width: 100%;
          }
        }

        .validator {
          margin-top: 1rem !important;
          color: red;
        }

        button {
          width: 50%;
          align-self: center;
          outline: none;
          border: 1px solid #ced4da;
          height: 42px;
          border-radius: 8px;
          background-color: var(--color-3);
          color: var(--color-10);
          font-weight: 600;
          transition: 0.5s all ease-in-out;

          &:hover {
            background-color: var(--color-2);
          }
        }
      }
    }

    .contact-container {
      width: 100%;
      height: 20%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      flex-wrap: wrap;
      padding: 0 20px;
      text-align: center;
    }
  }
}

::ng-deep p-password {
  display: contents !important;
}

::ng-deep .p-password,
::ng-deep .p-inputtext
{
  width: 100% !important;
}

::ng-deep .p-inputtext:enabled:hover,
::ng-deep .p-inputtext:enabled:focus
{
  border-color: #ced4da;
  box-shadow: none !important;
}

@media screen and (max-width: 768px) {
  .container-img {
    display: none;
  }

  .container-content {
    width: 100% !important;
  }

  .container-content form .card button {
    width: 100% !important;
  }

  .container-content form .card {
    width: 80% !important;
  }
}
