<div class="container-img">
    <div class="img"></div>
</div>

<div class="container-content">
    <div class="box-logo">
        <img src="../../../assets/IconeFundacao.png" alt="Ícone Fundação">
        <h1>Login</h1>
    </div>
    <div class="box-text">
        <input class="input e-mail" name="e-mail" placeholder="E-mail">
        <input class="input password" name="senha" placeholder="Senha">
        <button class="btn-entrar">
            <h5> Entrar </h5>
        </button>
        <a href="">Voltar e emitir uma OS</a>
    </div>

    <div class="contact-area">
        <h6>Dúvida? Entre em contato</h6>
        <p>comunicacao@fsnt.com.br&nbsp;&nbsp; (14)&nbsp;3405-2033</p>
    </div>
</div>