<div class="container-img">
    <div class="img"></div>
</div>

<div class="container-content">
    <div class="box-logo">
        <img src="../../../assets/IconeFundacao.png" alt="Ícone Fundação">
        <h1>Login</h1>
    </div>
    
    <form class="box-text" [formGroup]="formGroup">
        <div class="input">
            <i class='icon bx bx-envelope'></i>
            <input type="text" formControlName="email" placeholder="E-mail">
            <!-- <label for="">E-mail</label> -->
        </div>
        <div class="input">
            <i class='icon bx bx-lock'></i>
            <input type="password" formControlName="senha" placeholder="Senha">
            <!-- <label for="">Senha</label> -->
        </div>
        <button class="btn-entrar" (click)="submitLogin()">
            <h5> Entrar </h5>
        </button>
        <!-- <a id="voltar" href="">Voltar e emitir uma OS</a> -->
    </form>

    <div class="contact-area">
        <h6>Dúvida? Entre em contato</h6>
        <p>comunicacao@fsnt.com.br&nbsp;&nbsp; (14)&nbsp;3405-2033</p>
    </div>
</div>