.container-img{
    height: 100vh;
    width: 50%;
    .img{
        height: 100%;
        width: 100%;
        background-image: url(../../../assets/img-fsn-1.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

.container-content{
    //background-color: red;
    height: 100vh;
    width: 50%;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;

    .box-logo{
        //background-color: blue;
        height: 35%;
        width: 100%;
        min-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img{
            max-width: 65px;
            max-width: 65px;
        }

        h1{
            font-size: 2rem;
            font-weight: 700;
            color: var(--color-1);
        }
    }

    .box-text{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .input{
            width: 360px;
            height: 56px;
            border-radius: 16px;
            border: none;
            padding: 32px;
            background: var(--color-12);
            margin-bottom: 32px;
            font-size: 24px; 
        }

        .btn-entrar{
            margin-bottom: 28px;
            width: 160px;
            height: 56px;
            border-radius: 16px;
            border: none;
            padding: 10px;
            align-items: center;
            justify-content: center;
            font-size: 1.5rem;
            letter-spacing: 1px;
            font-size: medium;
            background-color: var(--color-2);
            color: var(--color-5);
            box-shadow: 0px 4px 4px 0px var(--color-9);
            cursor: pointer;
        }

        .a href{
            width: 231px;
            height: 20px;
            font-size: 20;
            color: black;
        }
    }

    .contact-area{
        margin-top: 48px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 768px) {
    .container-img {
        display: none;
    }

    .container-content {
        width: 100%;
    }}