<div class="container-img">
    <div class="img"></div>
</div>

<div class="container-content">
    <div class="box-logo">
        <img src="../../../assets/IconeFundacao.png" alt="Ícone Fundação">
        <h1>Login</h1>
    </div>
    
    <div class="box-text">
        <div class="input">
            <i class='icon bx bx-envelope'></i>
            <input type="text" required>
            <label for="">E-mail</label>
        </div>
        <div class="input">
            <i class='icon bx bx-lock'></i>
            <input type="password" required>
            <label for="">Senha</label>
        </div>
        <button type="submit" class="btn-entrar">
            <h5> Entrar </h5>
        </button>
        <!-- <a id="voltar" href="">Voltar e emitir uma OS</a> -->
    </div>

    <div class="contact-area">
        <h6>Dúvida? Entre em contato</h6>
        <p>comunicacao@fsnt.com.br&nbsp;&nbsp; (14)&nbsp;3405-2033</p>
    </div>
</div>