.container-img {
    height: 100vh;
    width: 50%;
    .img {
        height: 100%;
        width: 100%;
        background-image: url(../../../assets/img-fsn-1.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

.container-content {
    height: 100vh;
    width: 50%;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    
    .box-logo {
        height: 45%;
        width: 100%;
        min-width: 100%;
        // background-color: blue;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
            max-width: 65px;
            max-height: 65px;
        }

        h5 {
            font-size: 2rem;
            font-weight: 700;
            color: var(--color-1);
        }

        p {
            font-size: 1.5rem;
            font-weight: 500;
            color: var(--color-8);
        }
    }

    .box-text {
        height: 100%;
        width: 100%;
        
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        .btn {
            width: 410px;
            border-radius: 16px;
            border: none;
            font-size: 1.5rem;
            letter-spacing: 1px;
            display: flex;
            align-items: center;
            transition: all 0.5s ease;
            cursor: pointer;

            i {
                font-size: 1.5rem;
                padding: 16px;
            }

            i + i {
                margin: auto 8px auto auto;
            }
        }

        .btn-os {
            height: 80px;
            background-color: var(--color-2);
            color: var(--color-5);
            margin-top: 10%;
        }

        .btn-os:hover {
            background-color: var(--color-3);
        }

        .btn-login {
            height: 56px;
            background-color: transparent;
            border: 1px solid var(--color-2);
            color: var(--color-2);
        }

        .btn-login:hover {
            background-color: var(--color-3);
            color: var(--color-5);
        }

        .restrict-area {
            display: flex;
            flex-direction: column;
            align-items: start;
            letter-spacing: 1px;
            
            p {
                font-size: 1.1rem;
                color: var(--color-8);
                font-weight: 500;
                padding: 8px;
            }
        }

        .contact-area {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            letter-spacing: 1px;
            cursor: pointer;

            h6 {
                font-size: 1.1rem;
                color: var(--color-1);
                font-weight: 600;
            }

            p {
                font-size: 1rem;
                color: var(--color-8);
                font-weight: 400;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .container-img {
        display: none;
    }

    .container-content {
        width: 100%;
    }
}