<div class="container-img">
    <div class="img"></div>
</div>

<div class="container-content">
    <div class="box-logo">
        <img src="../../../assets/IconeFundacao.png" alt="Ícone Fundação">
        <br>
        <h5>OSManager</h5>
        <br>
        <p>Emissão de Ordens de Serviço</p>
    </div>
    <div class="box-text">
        <button class="btn btn-os" (click)="onOsEmit()">
            <i class='bx bx-cog' ></i>
            Emitir OS
            <i class='bx bx-right-arrow-alt'></i>
        </button>

        <div class="restrict-area">
            <p>Área restrita</p>
            <button class="btn btn-login" (click)="onLoginEmit()">
                <i class='bx bx-user-check'></i>
                Login
                <i class='bx bx-right-arrow-alt'></i>
            </button>
        </div>

        <div class="contact-area">
            <h6>Dúvida? Entre em contato</h6>
            <p>comunicacao@fsnt.com.br&nbsp;&nbsp; (14)&nbsp;3405-2033</p>
        </div>
    </div>
</div>
