<div class="container-img">
    <div class="img"></div>
</div>

<div class="container-content">
    <div class="box-logo">
        <img src="../../../assets/IconeFundacao.png" alt="Ícone Fundação">
        <h5>OSManager</h5>
        <br>
        <p>Emissão de Ordens de Serviço</p>
    </div>
    <div class="box-text">
        <button class="btn btn-os">
            <i class='bx bx-cog' ></i>
            Emitir OS
            <i class='bx bx-right-arrow-alt'></i>
        </button>

        <div class="restrict-area">
            <p>Área restrita</p>
            <button class="btn btn-login">
                <i class='bx bx-user-check'></i>
                Login
                <i class='bx bx-right-arrow-alt'></i>
            </button>
        </div>

        <div class="contact-area">
            <h6>Dúvida? Entre em contato</h6>
            <p>comunicacao@fsnt.com.br&nbsp;&nbsp; (14)&nbsp;3405-2033</p>
        </div>
    </div>
</div>








<!-- <div class="container">
    <div class="imgFund">
        <img src="../../../assets/ImgFundacao.png" alt="Imagem da Fundação">
      </div>
    <div class="content">
        <img class="iconFund" src="../../../assets/IconeFundacao.png" alt="Ícone da Fundação">
        <h1>OSManager</h1>
        <h5>Emissão de Ordens de Serviço</h5>

        <button class="btn-os" (click)="onOsEmit()">
            <img src="../../../assets/os_white.svg"> 
            Emitir OS
            <img src="../../../assets/Arrow-right_white.svg">  
        </button>


        <div class="restrict-area">
            <label>Área restrita</label>
            <button class="btn-login">
                <img src="../../../assets/login_green.svg">
                Login
                <img src="../../../assets/Arrow-right_green.svg">
            </button>
        </div>
    
        <div class="contact">
            <h5>Dúvida? Entre em contato</h5>
            <p>comunicacao@fsnt.com.br  (14) 3405-2033</p>
        </div>
    </div>
</div> -->
