
.container {
    display: flex;
    min-height: 100vh;
    min-width: 100%;
    padding: 0;
    
    .imgFund {
        flex: 1;
        max-height: 100vh;
        overflow: hidden;
        text-align: center;
    }
}
.content {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-family: var(--font-2);

    .iconFund {
        width: 64px; height: 64px;
        margin-top: 5%;
    }

    h1 {
        font-size: 2rem;
        font-weight: 600;
        color: var(--color-1);
        margin-top: 16px;
        text-align: center;
    }
    h5 {
        margin-top: 3%;
        font-size: 1.5rem;
        color: var(--color-8);
    }

    .btn-os {
        width: 410px; height: 80px;
        max-width: 100%;
        background-color: var(--color-2);
        color: var(--color-5);
        font-size: 1.5rem;
        border: none;
        border-radius: 16px;
        transition: 1s;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 28px;
        margin: 60px auto;
    }


    .btn-os:hover {
        background-color: var(--color-3);
    }

    .restrict-area {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        margin-top: 8%;
    }

    label {
        font-size: 1rem;
        color: var(--color-8);
        align-self: flex-start;
        margin-left: 8px;
    }

    .btn-login {
        width: 410px; height: 56px;
        background-color: transparent;
        border: 1px solid var(--color-2);
        color: var(--color-2);
        border-radius: 16px;
        transition: 1s;
        font-size: 1.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 28px;
        
    }
    
    .btn-login:hover {
        background-color: var(--color-3);
        color: var(--color-5);
    }

    button {
        cursor: pointer;
    }
}

.contact {
    margin: 2%;
    cursor: pointer;
    padding: 8px;
    h5 {
        font-size: 1rem;
        color: var(--color-2);
    }

    p {
        font-size: 1rem;
        color: #2F3033;
    };
}

@media screen and (max-width: 768px) {
    .imgFund {
        display: none;
    }
}


  