<div class="container">
    <div class="imgFund">
        <img src="../../../assets/ImgFundacao.png" alt="Imagem da Fundação">
    </div>
    <div class="content">
        <img class="iconFund" src="../../../assets/IconeFundacao.png" alt="Ícone da Fundação">
        <h1>OSManager</h1>
        <h5>Emissão de Ordens de Serviço</h5>

        <button class="btn-os" (click)="onOsEmit()">
            <img src="../../../assets/os_white.svg"> 
            Emitir OS
            <img src="../../../assets/Arrow-right_white.svg">  
        </button>


        <div class="restrict-area">
            <label>Área restrita</label>
            <button class="btn-login">
                <img src="../../../assets/login_green.svg">
                Login
                <img src="../../../assets/Arrow-right_green.svg">
            </button>
        </div>
    
        <div class="contact">
            <h5>Dúvida? Entre em contato</h5>
            <p>comunicacao@fsnt.com.br  (14) 3405-2033</p>
        </div>
    </div>
</div>