.title-box {
    background-color: var(--color-12);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 500px;
    padding-top: 16px;
    
    .title {
        font-size: 1.5rem;
        font-weight: 700;
        color: var(--color-7);
    }

    #close {
        position: absolute;
        top: 0;
        right: 0;
        margin: 8px;
        cursor: pointer;
        font-size: 1.5rem;
        color: var(--color-2);
    }
}

.mat-typography{
    background-color: var(--color-12);
    margin: 0;
    padding: 0;
    width: 500px;
    
    .container {
        height: 100%;
        padding: 32px;

        form {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .example-full-width {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 16px;
                gap: 8px;
                white-space: nowrap;
            }
        }

        .submit-area {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            
            .btn-submit {
                width: 147px;
                height: 56px;
                background-color: var(--color-2);
                color: var(--color-5);
                font-weight: 500;
                border: none;
                outline: none;
                border-radius: 16px;
                transition: all 0.5s ease;
                cursor: pointer;
            }

            .btn-submit:hover {
                background-color: var(--color-3);
                font-weight: 700;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .title-box {
        height: auto;
        width: 500px;
        padding: 16px;
    }
    
    .title {
        font-size: 1rem;
        font-weight: 600;
    }

    #close {
        font-size: 1rem;
        margin-left: 20px;
    }
}