<div class="menu">
    <app-menu></app-menu>
</div>
<div class="container">
    <div class="btns">
        <button class="btn btn-os">
            Nova OS
            <i class='bx bx-cog'></i>
        </button>

        <mat-form-field class="meu-form-field">
            <mat-label>Filtro</mat-label>
            <mat-select [autofocus]="false" [formControl]="toppings">
                <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="cards">
        <ng-container *ngFor="let item of items">
            <app-card [os]="item" ></app-card>
        </ng-container>
        
    </div>
</div>









<!-- <div class="container">
    <div class="menu">
        <app-menu></app-menu>
    </div>

    <div class="buttons">
        <button class="btn btn-os">
            Nova OS
            <i class='bx bx-cog'></i>
        </button>

        <button class="btn btn-filter">
            Filtro
            <i class='bx bxs-chevron-down'></i>
        </button>
    </div>

    <div class="cards">
        <app-card *ngFor="let item of items"></app-card>
    </div>
</div> -->