<div class="table-row">
    <div class="user-info">
        <p class="name">{{ users.name }}</p>
        <p class="mail">{{ users.mail }}</p>
    </div>

    <div class="role">
        <p class="roleName">{{ users.role }}</p>
    </div>

    <div class="outsourced">
        <p class="outsourcedStatus">{{ users.outsourced }}</p>
    </div>

    <div class="dateInsert">
        <p class="date">{{ users.date }}</p>
    </div>

    <div class="menuIcon">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <i class='bx bx-dots-vertical-rounded'></i>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
                <i class='bx bx-edit'></i>
              <span>Editar</span>
            </button>
            <button mat-menu-item>
                <i class='bx bx-trash'></i>
              <span>Excluir</span>
            </button>
          </mat-menu>
        
    </div>
</div>