.card {
  width: 100%;
  .itens {
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    flex-wrap: wrap;

    .column {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      padding-right: 0.3rem;

      .item {
        width: auto;
        margin-bottom: 16px;
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
      }
    }

    .column-info {
      max-width: 240px;
      flex: 1;
      display: flex;
      flex-direction: column;

      gap: 0.5rem;
    }
  }

  .fields {
    height: auto;
    width: auto;
    padding: 2px;
    display: flex;
    align-items: center;
    flex-direction: column;

    .field {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-bottom: 16px;
      gap: 0.3rem;

      textarea {
        height: auto !important;
      }
    }
  }

  .item-title {
    width: auto;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;

    i {
      padding-right: 8px;
      font-size: 20px;
      color: var(--color-2);
    }

    label {
      margin: 0;
      font-size: 0.8rem;
      color: var(--color-8);
      font-weight: 600;
    }
  }

  .fields {
    .fieldDescription {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      .textDescription {
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto !important;
        // max-width: 240px !important;
      }
    }
  }

  .dropdown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 16px;

    .select {
      width: 240px;
      max-width: 240px;

      ::ng-deep .p-dropdown.p-component {
        width: 100%;
      }
    }
  }

  .row {
    width: 100%;
    display: flex;
    gap: 1rem;

    .field {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      ::ng-deep p-dropdown .p-dropdown {
        width: 100%;
      }

      button {
        height: 48px;
        border: none;
        outline: none;
        border-radius: 8px;
        width: 100%;
        align-self: center;
        color: var(--color-10);
        font-weight: 600;
        background-color: var(--color-4);
        transition: 0.5s all ease-in-out;
        margin: 1rem;

        &:hover {
          background-color: var(--color-2);
        }
      }
    }
  }
}

.btn-decline {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.8rem;
}

::ng-deep .p-fileupload .p-fileupload-buttonbar {
  display: flex !important;
  

  ::ng-deep p-button .p-element {
    max-width: none !important;
  }
}

::ng-deep .p-fileupload-content {
  overflow-y: auto !important;
  max-height: 200px;
}

::ng-deep plusicon {
  margin-right: 4px;
}

::ng-deep .btn-upload-file {
  background-color: var(--color-3);
  border: var(--color-2);
}

::ng-deep .p-fileupload-choose:active,
::ng-deep .p-fileupload-choose:not(.p-disabled):active,
::ng-deep .p-fileupload-choose,
::ng-deep .p-button:enabled:active,
::ng-deep .p-button:enabled:hover,
::ng-deep .p-button:enabled:active,
::ng-deep .p-button:enabled:hover {
  background-color: var(--color-2);
  border: none;
}

::ng-deep .p-fileupload-choose:not(.p-disabled):hover {
  background-color: var(--color-4);
}

::ng-deep
  .p-fileupload
  .p-fileupload-buttonbar
  .p-button.p-fileupload-choose.p-focus {
  box-shadow: var(--color-4);
}
